
		<div class="entryWrap">
			<div class="entryHead clearfix">
				<div class="entryTitle">coconut lentil soup</div>
				<div class="entryDate">tuesday february 5, 2013</div>
				<div class="subTitle">from amy's awesome vegan book</div>
			</div>
			<div class="landscape"><img src="assets/landscapeSoup1.jpg"></div>
			<p>Veggies sunt bona vobis, proinde vos postulo esse magis mustard celery epazote turnip lotus root courgette beetroot quandong garlic amaranth horseradish cress earthnut pea taro.
			<br />
			<br />
			Leek garlic yarrow chicory lentil chickweed. Yarrow broccoli daikon salsify tomatillo celtuce chicory water chestnut spinach welsh onion green bean. Rutabaga arugula bitterleaf chicory fennel burdock gram cauliflower nori pea sprouts kakadu plum bok choy celtuce mustard winter purslane zucchini spring onion rutabaga.</p>
			<div class="portrait"><img src="assets/portraitSoup.jpg"></div>
			<p>Mustard asparagus water spinach okra celtuce garlic melon brussels sprout pea sprouts chickweed kakadu plum watercress. Endive squash jícama nori sea lettuce tatsoi asparagus ricebean groundnut bush tomato bunya nuts kombu garbanzo salsify melon leek. Plantain soybean daikon courgette leek zucchini bamboo shoot fava bean celtuce lentil tigernut.
			<br />
			<br />
			Earthnut pea endive cucumber water chestnut winter purslane taro daikon tomato celery sweet pepper napa cabbage kale cress sierra leone bologi radicchio nori ricebean earthnut pea. Rock melon groundnut horseradish cabbage melon chickpea chicory peanut seakale. Shallot broccoli soko celtuce taro okra dulse horseradish cress sierra leone bologi corn welsh onion cabbage mung bean.</p>
			<div class="landscape"><img src="assets/landscapeSoup2.jpg"></div>
			<p>Collard greens melon plantain water spinach lotus root pumpkin asparagus napa cabbage arugula bell pepper groundnut bitterleaf. Avocado jícama sweet pepper kombu leek komatsuna caulie broccoli rutabaga avocado fava bean pea earthnut pea rock melon. Wakame okra tomato carrot seakale komatsuna.
			<br />
			<br />
			Beetroot fava bean artichoke groundnut endive tomato onion carrot avocado broccoli winter purslane pea chicory courgette salsify taro. Groundnut mustard celery horseradish soybean cress fennel beet greens radish gumbo caulie parsnip sweet pepper kakadu plum burdock celery. Garlic shallot spinach arugula garbanzo collard greens parsnip azuki bean groundnut okra. Azuki bean catsear potato bush tomato black-eyed pea watercress prairie turnip. Carrot mung bean coriander sweet pepper summer purslane maize horseradish caulie corn grape collard greens.</p>
						
			<!-- RECIPE CARD -->
						
			<div class="recipeCard clearfix">
				<div class="topCard clearfix">
					<div class="cardImg"><img src="assets/cardSoup.jpg"></div>
					<div class="titleServings">
						<div class="cardTitle">coconut lentil soup</div>
						<div class="servings">serves 6</div>
					</div>
					<div class="cardNotes">
						<p>Notes.</p>
						<p>Notessss. Short and sweet. This recipe was delicious and we cannot wait to make it again. Next time- less ginger.</p>
					</div>
				</div>
				<div class="cardLeft">
					<h2>Ingredients</h2>
					<ul>
						<li>coconut milk</li>
						<li>vegetable broth</li>
						<li>onions; chopped</li>
						<li>lentils</li>
						<li>buttloads of ginger</li>
					</ul>
					<h3>Separated ingredients</h3>
					<ul>
						<li>cumin</li>
						<li>salt</li>
						<li>pepper</li>
						<li>cayenne</li>
					</ul>
				</div>
				<div class="cardRight">
					<h2>Instructions</h2>
					<p>Step one.</p>
					<p>Step two.</p>
					<p>Step three.</p>
					<p>Step quatro.</p>
					<p>Step cinco.</p>
					<p>Step six.</p>
					<p class="nutrition">Optional Info. (Nutrition Facts)</p>
					<div class="print"></div>
					<div class="save"></div>
				</div>
			</div> <!-- Recipe Card -->
			<div class="endEntry"><img src="assets/endcap.png"</div>
		</div> <!--Entry Wrap -->

